/* ConstructionProjects.css */

.projects-container {
    padding: 25px;
    
}

.projects-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.projects-tabs button {
    padding: 10px 24px;
    font-size: 16px;
    border: 2px solid #006400;
    border-radius: 8px;
    background-color: white;
    color: #006400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projects-tabs button:hover,
.projects-tabs button.active {
    background-color: #006400;
    color: white;
}




.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.image-grid img {
    width: 400px;
    /* 統一寬度 */
    height: 300px;
    /* 統一高度 */
    object-fit: cover;
    /* 裁切圖片，讓它剛好填滿指定區域 */
    object-position: center;
    /* 以中心為基準裁切 */
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.image-grid img:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.no-images {
    font-style: italic;
    color: #888;
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {
    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 16px;
    }

    .button-group button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .image-grid {
        gap: 15px;
    }
}