.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content{
flex: 1;
}
/* 📱 RWD：小螢幕才開啟 main-content 滾動 */
@media (max-width: 768px) {
  .main-content {
    overflow-y: auto;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
